In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
my_list = list(range(10))

In [4]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
my_list[5] = 777

In [7]:
my_list

[0, 1, 2, 3, 4, 777, 6, 7, 8, 9]

In [8]:
my_list.append(7777)

In [9]:
my_list

[0, 1, 2, 3, 4, 777, 6, 7, 8, 9, 7777]

In [10]:
my_list.sort()

In [11]:
my_list

[0, 1, 2, 3, 4, 6, 7, 8, 9, 777, 7777]

In [12]:
my_tuple = (1, 4, 5)

In [13]:
my_tuple

(1, 4, 5)

In [14]:
my_second_tuple = 5, 6
my_second_tuple

(5, 6)

In [15]:
my_third_tuple = tuple([7, 8, 9])
my_third_tuple

(7, 8, 9)

In [19]:
my_fourth_tuple = tuple('the class loves tuples!')
my_fourth_tuple

('t',
 'h',
 'e',
 ' ',
 'c',
 'l',
 'a',
 's',
 's',
 ' ',
 'l',
 'o',
 'v',
 'e',
 's',
 ' ',
 't',
 'u',
 'p',
 'l',
 'e',
 's',
 '!')